<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Check status</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>

<body>
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="checkstatus">
          <h4 class="centertext">Status of your previously submitted files</h4>
          <p id="status">
            <!-- result is a list of URLs each one on a new line with the following format -->
            <!-- https://storage.cloud.google.com/cool_place/Translated_commercial_stereo.mp3 -->
            <% statusUpdate.forEach(result => { %>
              <!-- seems like one or more files were not processed yet -->
              <% if(result.includes("has not been processed")) { %>
                <p class="error"><%= result %></p>
              <% } else { %>
                <!-- create an array by splitting the URL string using '/' -->
                <% var urlArray = result.split(/[\s/]+/); %>
                <!-- extract the file name which is at the last index of the array -->
                <% var fileName = urlArray[urlArray.length-1]; %>
                <input type="button" onclick="window.open('<%= result %>', '_blank');" value="<%= fileName %>" />
                <!-- <button onclick="window.open('<%= result %>', '_blank');"><%= fileName %></button> -->
                <% } %>
              <% }) %>
          </p><br>
          <button id="home">Home</button>
          <a class="linktext" href="/sessionLogout">Log out</a>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer">
        <p class="footertext">Please report any issues by clicking <a
            href="mailto:voice_translator@yahoo.com">here</a><br>
          &copy; Copyright Voice Translator 2020
        </p>
      </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", () => {

        document
          .getElementById("home")
          .addEventListener("click", (event) => {
            event.preventDefault();
            window.location.assign("/landing");
            return false;
          });
      });
    </script>
  </main>
</body>

</html>